body{
	background-image: url("../image/64.jpg");
	/*background-repeat: no-repeat;*/
  	background-size : auto;
}
.navbar
{
	background-color: #1B234F;
}
}
.container
{
	background-image: url("../image/65.jpg");
}
#sp-1{
	/*padding-left : 4px;*/
	font-size: 12px;
	/*margin-top: 0px;*/
}
.navbar-brand{
	/*text-decoration:radial-gradient (#fff,#000);*/
	/*text-decoration:none;*/
	color: #fff;
	background-color: #FAD400;
}
.nav-link
{
	color: #fff;
}

#mybut :hover
{
	color: #FCFA04;
}