<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="header">
	<div class="inner">
		<div id="logo">
			<h1>unicase</h1>
			<p>Universal Shopping Area</p>
		</div>
	</div>
</div>
<div id="menu">
	<div class="inner">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</div>
</div>
<div id="content">
	<div class="inner">
		<div id="left-content">
			<div id="left-menu">
				<h4>categories</h4>
				<ul>
					<li><a href="#">Mobile</a></li>
					<li><a href="#">Home Appliance</a></li>
					<li><a href="#">Fashion</a></li>
					<li><a href="#">Electronics</a></li>
					<li><a href="#">Kids</a></li>
					<li><a href="#">Fashion Mens</a></li>
					<li><a href="#">Fashion Womens</a></li>
				</ul>
			</div>
			<div id="left-bottom">
				<h3>Special Offer</h3>
			</div>
		</div>
		<div id="right-content">
			<div id="right-content-top">
				<div id="right-content-top-head"></div>
				<div id="right-content-top-foot">
					<div class="right-content-banner">
						<h2 style="color: #ABD17E ">Money Back</h2>
					</div>
					<div class="right-content-banner">
						<h2 style="color: #D8C082;">Free Shipping</h2>
					</div>
					<div class="right-content-banner">
						<h2 style="color: #E7868F;">Special Sale</h2>
					</div>
				</div>
			</div>
			<div id="right-bottom-top">
				<h3>New Products</h3>
				<div class="product">
					<div class="product-top">
						<img src="image/1.png" />
					</div>
					<div class="product-bottom">
						<p class="p-name">Sony</p>
						<p class="p-price">$180.00 <span>($182.00)</span></p>
					</div>
				</div>
				<div class="product">
					<div class="product-top">
						<img src="image/2.jpg" />
					</div>
					<div class="product-bottom">
						<p class="p-name">Sony</p>
						<p class="p-price">$180.00 <span>($182.00)</span></p>
					</div>
				</div>
				<div class="product">
					<div class="product-top">
						<img src="image/3.jpg" />
					</div>
					<div class="product-bottom">
						<p class="p-name">Sony</p>
						<p class="p-price">$180.00 <span>($182.00)</span></p>
					</div>
				</div>
				<div class="product">
					<div class="product-top">
						<img src="image/4.jpeg" />
					</div>
					<div class="product-bottom">
						<p class="p-name">Sony</p>
						<p class="p-price">$180.00 <span>($182.00)</span></p>
					</div>
				</div>
				<div class="product">
					<div class="product-top">
						<img src="image/5.jpeg" />
					</div>
					<div class="product-bottom">
						<p class="p-name">Sony</p>
						<p class="p-price">$180.00 <span>($182.00)</span></p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="inner"></div>
</div>
</body>
</html>