
<div class="container" style="min-height: 600px;">
	<div class="row">
	<div class="col-md-4">
	<h1>This is Contact Page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="col-md-4">
		<Br />
		<Br />
		<Br />
		<form action="/save" method="post">
			<div class="form-group">
				<label>Full Name</label>
				<input type="text" name="full_name" class="form-control">
			</div>
			<div class="form-group">
				<label>Age</label>
				<input type="text" name="age" class="form-control">
			</div>
			<div class="form-group">
				<label>City</label>
				<select class="form-control" name="city">
					<option>Select</option>
					<option>Indore</option>
					<option>Bhopal</option>
					<option>Mumbai</option>
				</select>
			</div>
			<Br />
			<br />
			<input type="submit" value="Save" class="btn btn-info">
		</form>
	</div>

</div>

</div>

