<div class="container">
	<div class="row my-4">
		<div class="col-md-12">
			<h1 class="font-weight-bold text-center">Categories</h1>
			<div class="center-box"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav category-nav nav-pills justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link first" href="#">Mobile</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Home Appliance</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Electronics</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Fashion</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link last" href="#">Furniture</a>
			  </li>
			  
			</ul>
		</div>
	</div>
	<div class="row product">
		<div class="col-md-3 mt-3">
			<div class="card">
			   <img class="card-img-top" src="image/product_1.png" alt="Card image" style="width:100%">
			   <div class="card-body">
			     <h4 class="card-title">Hoddie</h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm">More</a>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		<div class="col-md-3 mt-3">
			<div class="card">
			   <img class="card-img-top" src="image/product_1.png" alt="Card image" style="width:100%">
			   <div class="card-body">
			     <h4 class="card-title">Hoddie</h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm">More</a>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		<div class="col-md-3 mt-3">
			<div class="card">
			   <img class="card-img-top" src="image/product_1.png" alt="Card image" style="width:100%">
			   <div class="card-body">
			     <h4 class="card-title">Hoddie</h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm">More</a>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		<div class="col-md-3 mt-3">
			<div class="card">
			   <img class="card-img-top" src="image/product_1.png" alt="Card image" style="width:100%">
			   <div class="card-body">
			     <h4 class="card-title">Hoddie</h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm">More</a>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		<div class="col-md-3 mt-3">
			<div class="card">
			   <img class="card-img-top" src="image/product_1.png" alt="Card image" style="width:100%">
			   <div class="card-body">
			     <h4 class="card-title">Hoddie</h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm">More</a>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		<div class="col-md-3 mt-3">
			<div class="card">
			   <img class="card-img-top" src="image/product_1.png" alt="Card image" style="width:100%">
			   <div class="card-body">
			     <h4 class="card-title">Hoddie</h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm">More</a>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		
	</div>

</div>