<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container-fluid header-dark">
	<div class="row">
		<div class="col-md-4 header-text pt-2">
			<small>FREE SHIPPING ON ALL U.S ORDERS OVER $50</small>
		</div>
		<div class="col-md-4 offset-md-4 header-text">
				
		</div>
	</div>
</div>
<nav class="sticky-top navbar header-text font-weight-bold header-color navbar-expand-sm">
	<a href="#" class="navbar-brand header-text">
		<%= logo %>
	</a>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
		<span class="navbar-toggler-icon">
			<i class="fa fa-bars fa-lg"></i>
		</span>
	</button>
	<div class="navbar-collapse collapse" id="myMenu">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/contact">Contact</a>
		</li>

		<% if(session.is_user_logged_in){ %>
		<li class="nav-item">
			<a class="nav-link" href="/myaccount">My Account</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		</li>
		<% }else{ %>
		<li class="nav-item">
			<a class="nav-link" href="/login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/signup">Signup</a>
		</li>
		<% } %>

		
	</ul>
	<ul class="navbar-nav ml-auto">
		
		<li class="nav-item">
			  <!-- <li class="nav-item dropdown" data-toggle="dropdown">
			    <a class="nav-link dropdown-toggle" href="#">My Account</a>
			    <div class="dropdown-menu">
			    	<a href="/login" class="dropdown-item">Login</a>
			    	<a href="/signup" class="dropdown-item">Signup</a>
			    </div>
			  </li> -->
			<a class="nav-link">My Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i> <sup><span class="badge badge-pill badge-light">5</span></sup></a>
		</li>
		<ul class="nav float-right">
		</ul>	
	</ul>
	</div>
</nav>
<div class="container-fluid slider">
	<div class="row">
		<div class="col-md-8 col-12 col-sm-8">
			<p class="mt-4">SPRING / SUMMER COLLECTION 2017</p>
			<p class="display-4">Get up to 30% Off New Arrivals</p>
			<button class="btn btn-sm my-btn ml-4">Show Now</button>
		</div>
	</div>
</div>

<%- include(pagename); %>






<div class="jumbotron jumbotron-fluid my-4">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12 col-12">
				<h3>Newsletter</h3>
				<p>Subscribe to our newsletter and get 20% off your first purchase</p>
			</div>
			<div class="col-md-5 col-sm-12 col-12">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email">
					<br />
					<button class="btn btn-danger">Subscribe</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container footer">
	<div class="row">
		<div class="col-md-12">
	<ul class="nav float-left">
	  <li class="nav-item">
	    <a class="nav-link" href="#">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Help</a>
	  </li>
	  
	</ul>
	<ul class="nav  float-right">
	  <li class="nav-item">
	    <a class="nav-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#"><i class="fa fa-skype" aria-hidden="true"></i></i></a>
	  </li>
	  
	</ul>
</div>
</div>
	<p class="mt-4 pt-4">copyright &copy; by The Stepping Stone</p>
</div>

</body>
</html>