<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/SafaW.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<!-- <meta name="viewport" content="width-device-width, intial-scale=1"> -->
</head>
<body>

<div class="jumbotron" id="jum_body">
	
<nav class="sticky-top navbar navbar-info navbar-expand-sm navbar-expand-md  bg-dark">
					<a href="#" class="navbar-brand text-centre"><h1 class="text-center"><b>Make_My_Software</b></h1><span class="badge badge-light badge-pill"><small id="sp-1">Unique Developer World</small></span></a>
					<button class="navbar-toggler" data-toggle="collapse" data-target="#mybut">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div id="mybut" class="collapse navbar-collapse">
						<ul class="navbar-nav">
							<li class="nav-item">
								<div class="dropdown">
								<a href="#" data-toggle="dropdown" class="nav-link data-toggle"><b>Contact</b></a>
									<div class="dropdown-menu bg-dark">
										<a href="#" class="dropdown-item"><b>Developer</b></a>
										<a href="#" class="dropdown-item"><b>Receptionist</b></a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><b>Project_status</b></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><b>Order_A_Software</b></a>
							</li>
							<!-- <li class="nav-item">
								<a href="#" class="nav-link"><b>Refer</b></a>
							</li> -->
							<li class="nav-item">
								<a href="#" class="nav-link"><b>Career</b></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><b>About</b></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><b>Submit_Requirement</b></a>
							</li>
							
						</ul>
					</div>
<div>
<a href="#" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal1"><i class="fa fa-user-plus" aria-hidden="true"></i> SignUp</a>
<a href="#" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
</div>
</nav>



		<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div>
				<button class="btn size-sm close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-header">
							<h1>Welcome</h1>
						</div>	
							<div class="modal-body">
								<div class="form-group">
									<label>Username</label>
									<input type="text" class="form-control" placeholder="Username">
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type="text" class="form-control" placeholder="Password">
								</div>
								<div>
									<button class="btn btn-outline-success" data-dismiss="modal" type="submit" value="login">Login</button>
									<button class="btn btn-outline-info" type="reset" value="reset">Reset</button>
								</div>
							</div>	
						
					</div>
					
				</div>
			</div>	
 


<form action="/" method="post">
<div id="myModal1" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div>
				<button class="btn size-sm close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-header">
							<h1>SignUp</h1>
						</div>	
							<div class="modal-body">
								<div class="form-group">
									<label>Username</label>
									<input type="text" name="username" class="form-control"placeholder="Username">
								</div>
								<div class="form-group">
									<label>Email</label>
									<input type="text" name="email" class="form-control" placeholder="Password">
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type="Password" name="password" class="form-control" placeholder="Password">
								</div><div class="form-group">
									<label>Contact</label>
									<input type="text" name="contact" class="form-control" placeholder="Password">
								</div>
								<div>
									<button class="btn btn-outline-success" type="submit" value="login">SignUp</button>
									<button class="btn btn-outline-info" type="reset" value="reset">Reset</button>
									<button class="btn btn-outline-danger" data-dismiss="modal" value="reset">Close</button>
								</div>
							</div>	
						
					</div>
					
			</div>
		</div>
</form>	



</div>
</div>
 
<div class="jumbotron">

	<div class="container">
		<p>This software not support any CopyRight Claim </p>
		<hr>
	</div>


</body>
</html>