<!DOCTYPE html>
<html>
<head>
	<title>Sign UP</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="form.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
	<style type="text/css">
		
	</style>
</head>
<body>
	<div id="fixed">
		
<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 my-4 border border-light text-light">
			<Br />
			<form>
				<div class="form-group">
					<label>Full Name</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Email</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
						</div>
					<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label>Password</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
						</div>
					<input type="password" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label>City</label>
					<select class="form-control">
						<option>Select</option>
						<option>Indore</option>
						<option>Bhopal</option>
						<option>Mumbai</option>
						<option>Pune</option>
					</select>
				</div>
				<div class="form-group">
					<label>Address</label>
					<textarea class="form-control"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-danger">Close <i class="fa fa-window-close" aria-hidden="true"></i></button>
					<button class="btn btn-success">Signup <i class="fa fa-user" aria-hidden="true"></i></button>

				</div>
			</form>
		</div>
	</div>
</div>

	</div>
</body>
</html>