body{
	

}
#jum_body{
	margin: 0px;
	padding: 0px;
	background-size: 100% 100%;
	background-image: url("../image/114-1.jpg");
	min-height: 700px;
	width: 100%;
}
#jum_footer{
	background-image: url("../image/115.png.PNG");
	min-height: 600px;
	width: 100%;
}