<div class="container" style="min-height: 400px">
	<div class="row">
		<div class="col-md-4 offset-md-4">
	<div class="card m-4">
		<h3 class="card-header">Add Category</h3>
			<div class="card-body">
			<form class="form-group" action="/admin/addcategory" method="post">
				<label>Name of Category</label>
				<input type="text" name="name" placeholder="Category Name" class="form-control">
				<button type="submit" class="btn btn-success m-4">Add</button>			
			</form>
			</div>
	</div>
</div>
</div>
</div>