<div container>
	<div class="card">
		<div class="card-body">
			<h3 class="card-header">Add Category</h3>
			<form class="form-group" action="/addcategory" method="post">
				<label>Name of Category</label>
				<input type="text" name="categoryname" class="form-control">			
			</form>
		</div>
	</div>
</div>