<div class="container mt-4">
	<div class="row">
		<div class="col-md-4 offset-md-4"  >
			<div class="card">
				<div class="card-header">
					<h3>Edit Category</h3>
				</div>
				<div class="card-body">
					<form action="/admin/editcategory" method="post">
						<input type="hidden" name="id" value="<%= result._id %>">
						<div class="form-group">
							<label>New Name</label>
							<input type="text" name="name" class="form-control" value="<%= result.name %>">						
						</div>
						<!-- <input type="text" class="btn btn-success m-4" value="Update"> -->
						<button class="btn btn-success mt-4" type="submit" > Update </button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>