<div class="container" style="min-height: 400px">
	<div class="row">
		<div class="col-md-6 offset-md-3">
	<div class="card m-4">
		<dir class="card-body">
			<h3 class="card-header">Admin Login</h3>
			<form class="form-group" method="post" action="admin/login"> 
					<label>Username</label>
					<input type="text" class="form-control" name="username">
					<label>Password</label>
					<input type="password" class="form-control" name="password">
				<button class="btn btn-success m-4" type="submit">Login</button>
			</form>
		</dir>
	</div>
</div>
</div>
</div>