<!DOCTYPE html>
<html>
<head>
	<title><% = title %></title>
	<!-- <link rel="stylesheet" type="text/css" src="js/jquery.js"> -->
  <link rel="stylesheet" type="text/css" href="css/final.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
</head>
<body id="body">
  
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-4 border border-dark text-center">
  			<p class="mt-2"><small><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> FREE SHIPPING ON ALL ORDERS</small></p>
  		</div>
  		<div class="col-md-4 border border-dark text-center">
  			<p class="mt-2"><small><i class="fa fa-money fa-lg" aria-hidden="true"></i> 100% MONEY BACK GUARANTEE</small></p>
  		</div>
  		<div class="col-md-4 border border-dark text-center">
  			<p class="mt-2"><small><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> ONLINE SUPPORT 24/7</small></p>
  		</div>
  	</div>
  </div>
  

 
  <nav id="navbar-1" class="navbar navbar-expand-sm sticky-top col-md-12">
    <a href="#" class="navbar-brand"><h1 id="h11"><b>Zexome</b><span id="sp-1" class="badge badge-pill bg-info">As your desire</span></h1></a>  
    <button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu"><span id="sp-2" class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span></button>
  <div id="myMenu" class="collapse navbar-collapse position-stable">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link mr-3 ">Shop</a>
      </li> 
       <li class="nav-item">
        <a href="#" class="nav-link  mr-3">Mega group</a>
      </li>  
      <li class="nav-item">
        <a href="#" class="nav-link mr-3">Features</a>
      </li> 
       <li class="nav-item">
        <a href="#" class="nav-link mr-3">About</a>
      </li>  
      <li class="nav-item">
        <a href="#" class="nav-link mr-3">Blog</a>
      </li> 
       <li class="nav-item">
        <a href="#" class="nav-link mr-3">Contact</a>
      </li> 
    </ul>
    <ul class="navbar-nav ml-auto">  
      <li class="nav-item ml-auto"  >
        <a href="#" class="nav-link mr-3">My Cart <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item ml-auto">
        <a href="#" class="nav-link mr-3"><i class="fa fa-id-card" aria-hidden="true"></i> My Account</a>
      </li>
    </ul>
  </div>  
</nav>
<%=include(pagedata) %>



<div class="container-fluid">
  <div class="jumbotron bg-dark text-light">
    <p>Copyright</p>
    <p>This website is created in 2019 with legal documentation </p>
    <p>The owners of copyright in the content on this website may receive compensation for the use of their content by educational institutions and governments, including from licensing schemes managed by Copyright Agency.</p>
  </div>
</div>

</body>
</html>