<div class="container">
  <div class="body">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="card">
                <p class="text-center">Profile Update</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card">
                <h6 class="text-center">Ku. Virendra Singh Rathod</h6>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <p class="text-center">Chat Here</p>
              </div>
            </div>
            </div>
        </div>
          <div class="container mt-2">
            <div class="row">
              <div class="col-md-2">
                <div class="card">
                  
                </div>
              </div>
              <div class="col-md-7">
                <div class="card">
                  
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  
                </div>
              </div>
              </div>
          </div>
        </div>
  