<nav class="navbar navbar-expand-md nb">
    <!-- Brand -->
    <a class="navbar-brand logo" href="#"><b>Facebook</b></a>
    <div class="container">
    <div class="col-md-6 offset-md-6">
    <ul class="navbar-nav nav">
      <li class="nav-item">
      <form form-group>
        <div d-flex justify-content-end>
          <label class="text-light ml-2">Email or Phone</label>
          <input type="text" placeholder="Email or Phone" class="form-control">
        </div>
      </form>
        </li>
        <li class="nav-item">
          <form class="form-group">
        <div>
          <label class="text-light ml-2">Password</label>
          <input type="password" placeholder="Password" class="form-control ml-2">
        </div>
      </form>
        </li>
        <li class="nav-link mt-4">
          <form class="form-group">
        <button class="btn btn-dark btn-sm bt">log</button>
        </form>
      </li>
        <li class="mx-1">
          <form>
             <h6 class="text-light">Forgot <a href="#" class="text-light" >Email or Password</a></h6>
            </form>
        </li>
        
    </ul>
    </div>
    
    </div>
  
   